.info-container Button{
    background-color: darkred;
    padding: 20px; border-radius: 25px;
    margin-right: 10px;
    margin-top: 10px;
}
.active-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}